<header class="main-header">
    <h1 class="main-header__title">
        <span class="main-header__title--blue">Proway</span><span class="main-header__title--orange">Computer</span>
    </h1>
    
    <div class="container-menu">
        <nav class="main-header__menu">
            <ul>
                <li>
                    <a routerLink="/produtos">Produtos</a>
                </li>
                <li>
                    <a routerLink="/carrinho">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Carrinho
                        <span class="badge-carrinho">{{ carrinhoService.obtemCarrinho().length }}</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/contato">
                        Contato
                    </a>
                </li>
                <li>
                    <a><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
            </ul>
        </nav>

        <app-barra-pesquisa></app-barra-pesquisa>
    </div>
</header>